<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue for&condition</title>
</head>
<body>
    <div id="app1">
        <p v-if="awesome">v-if</p>
        <!-- v-else 元素必须紧跟在带 v-if 或者 v-else-if 的元素的后面，否则它将不会被识别。-->
        <p v-else>v-else</p>
    </div>
    <div id="app2">
        <template v-if="loginType === 'userName'">
            <label>UserName</label>
            <input placeholder="Enter your username.">
        </template>
        <template v-else>
            <label>Email</label>
            <input placeholder="Enter your Email.">
        </template>
        <button v-on:click="changeType">changeType</button>
        <!-- 用 key 管理可复用的元素 -->
        <!-- 这样也不总是符合实际需求，所以 Vue 为你提供了一种方式来表达“这两个元素是完全独立的，不要复用它们”。只需添加一个具有唯一值的 key 属性即可 -->
        <template v-if="submitType === 'client'">
            <label>client</label>
            <input placeholder="Enter your client." key="client input">
        </template>
        <template v-else>
            <label>id</label>
            <input placeholder="Enter your id." key="id input">
        </template>
        <button v-on:click="changeSubmitType">changeType</button>
    </div>
    <!-- v-show -->
    <!-- 不同的是带有 v-show 的元素始终会被渲染并保留在 DOM 中。v-show 只是简单地切换元素的 CSS 属性 display。 -->
    <!--
        v-if vs v-show
        v-if 是“真正”的条件渲染，因为它会确保在切换过程中条件块内的事件监听器和子组件适当地被销毁和重建。
        v-if 也是惰性的：如果在初始渲染时条件为假，则什么也不做——直到条件第一次变为真时，才会开始渲染条件块。
        相比之下，v-show 就简单得多——不管初始条件是什么，元素总是会被渲染，并且只是简单地基于 CSS 进行切换。
        一般来说，v-if 有更高的切换开销，而 v-show 有更高的初始渲染开销。因此，如果需要非常频繁地切换，则使用 v-show 较好；如果在运行时条件很少改变，则使用 v-if 较好。
    -->
    <div id="app3">
        <p v-show="ok">v-show basic</p>
        <button v-on:click="toggleShow">toggle ok</button>
    </div>
    <!--
        不推荐同时使用 v-if 和 v-for。请查阅风格指南以获取更多信息。
        当 v-if 与 v-for 一起使用时，v-for 具有比 v-if 更高的优先级。请查阅列表渲染指南 以获取详细信息。
    -->

    <!-- 在 v-for 块中，我们拥有对父作用域属性的完全访问权限。v-for 还支持一个可选的第二个参数为当前项的索引。 -->
    <p>计算属性的 <a href="https://cn.vuejs.org/v2/guide/computed.html#%E8%AE%A1%E7%AE%97%E5%B1%9E%E6%80%A7%E7%9A%84-setter">setter</a></p>
    <ul id="app4">
        <!-- key -->
        <li v-for="(item, index) in items" :key="item.id">{{parentMessage}} - {{index}} - {{item.name}}</li>
        <!-- 数组更新检测-变异方法，Vue 包含一组观察数组的变异方法，所以它们也将会触发视图更新。这些方法如下：push, pop, shift, unshift, splice, sort, reverse -->
        <li>---</li>
        <li v-for="(index, value, key) in dataObj">{{index}} - {{key}} - {{value}}</li>
        <li>--ia--</li>
        <li v-for="iaVal in ia">{{iaVal}}</li>
        <!-- 由于 JavaScript 的限制，Vue 不能检测以下变动的数组：
            当你利用索引直接设置一个项时，例如：vm.items[indexOfItem] = newValue
            当你修改数组的长度时，例如：vm.items.length = newLength vm.items[1] = 'x' // 不是响应性的  vm.items.length = 2 // 不是响应性的 -->
        <!-- Vue.set(app4.ia, 1, 'z') -->
        <!-- vm.items.splice(indexOfItem, 1, newValue) “1就是替换一个前面索引所指元素，0是在前面所指元素位置增加一个” app4.ia.splice(1, 1, 'x') -->
        <li>-- 显示过滤/排序结果 --</li>
        <li v-for="n in eventNumbers">{{n}}</li>
        <li>-- v-for with v-if --</li>
        <li v-for="todo in todos" v-if="todo.isComplate">{{todo.text}}</li>
        <template v-if="todos.length">
            <li v-for="todo in todos">{{todo}}</li>
        </template>
        <li v-else>No todos left!</li>
    </ul>

    <h3>表单删除列表</h3>
    <div id="todo-list-example">
        <form v-on:submit.prevent="addNewTodo">
            <label for="new-todo">Add a todo</label>
            <input v-model="newTodoText" id="new-todo" type="text" placeholder="E.g. Feed the cat">
            <button>Add</button>
        </form>
        <ul>
            <li is="todo-item" v-for="(todo, index) in todos" v-bind:key="todo.id" v-bind:title="todo.title" v-on:remove="todos.splice(index, 1)"></li>
        </ul>
        <p></p>
    </div>
    <script type="text/javascript" src="//unpkg.com/vue@2.4.4/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>